.about-us {

  // outline: 1px dashed pink;
  &__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-top: 30px;

    @media (min-width: $tablet-width) {
      width: $tablet-width;
      margin: 0 auto;
      margin-bottom: 25px;
      padding: 0 50px;
      padding-top: 55px;
    }

    @media (min-width: $desktop-width) {
      width: $desktop-width;
      padding: 0  100px;
      padding-top: 65px;

    }
  }

  &__title {
    margin: 0;
    margin-left: 30px;
    margin-bottom: 30px;
    font-family: $font-stack;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;

    @media (min-width: $tablet-width) {
      margin-left: 0;
      font-size: 43px;
      line-height: 50px;
      margin-bottom: 45px;
    }

    @media (min-width: $desktop-width) {
      font-size: 53px;
      line-height: 57px;
      margin-left: 175px;
      margin-bottom: 40px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    // outline: 1px dashed lime;

    @media (min-width: $tablet-width) {

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 460px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 175px;
      margin-bottom: 30px;
    }
  }

  &__item {
    position: relative;
    padding-top: 55px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    font-family: $font-stack;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;

    @media (min-width: $tablet-width) {
      padding-left: 0;
      width: 334px;
      margin-bottom: 57px;
    }

    &--eco {
      background: url("../img/icon-feature-flower.svg") no-repeat;
      background-position: 37px 0;

      @media (min-width: $tablet-width) {
        background-position: 0 0;
      }
    }

    &--price {
      background: url("../img/icon-feature-money.svg") no-repeat;
      background-position: 30px 0;

      @media (min-width: $tablet-width) {
        background-position: 0 0;
      }
    }

    &--likes {
      background: url("../img/icon-feature-heart.svg") no-repeat;
      background-position: 37px 0;

      @media (min-width: $tablet-width) {
        background-position: 0 0;
      }
    }

    &--handmade {
      background: url("../img/icon-feature-ball.svg") no-repeat;
      background-position: 33px 0;

      @media (min-width: $tablet-width) {
        background-position: 0 0;
      }
    }

    &--patriotic {
      background: url("../img/icon-feature-rocket.svg") no-repeat;
      background-position: 24px 0;

      @media (min-width: $tablet-width) {
        background-position: 0 0;
      }
    }

    &--gift-wrap {
      background: url("../img/icon-feature-gift.svg") no-repeat;
      background-position: 33px 0;

      @media (min-width: $tablet-width) {
        background-position: 0 0;
      }
    }
  }
}
