.contacts {
  position: relative;

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 100px;
    margin: 0 auto;
    margin-bottom: 105px;
    padding-top: 71px;
    min-height: 528px;
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    position: relative;
    width: 320px;
    padding: 0 30px;
    padding-top: 41px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      position: relative;
      width: $tablet-width;
      padding: 0 50px;
      padding-top: 67px;
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      width: 525px;
      margin: 0;
      padding: 0;
      margin-top: 71px;
      padding-left: 175px;
      padding-right: 50px;
      margin-bottom: auto;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 38px;
    font-family: $font-stack;
    font-style: 18px;
    line-height: 30px;
    font-weight: 700;

    @media (min-width: $tablet-width) {
      font-size: 43px;
      line-height: 50px;
      margin-bottom: 53px;

      &::before {
        content: "";
        position: absolute;
        width: 47px;
        height: 81px;
        background: url("../img/icon-flag.svg") no-repeat center;
        left: 620px;

        @media (min-width: $desktop-width) {
          left: 64px;
        }
      }

      @media (min-width: $desktop-width) {
        font-size: 53px;
        line-height: 57px;
      }
    }
  }

  &__table {
    @media (min-width: $tablet-width) {
      border-collapse: collapse;
      margin-bottom: 60px;
    }
  }

  &__table tbody {
    @media (min-width: $tablet-width) {
      display: flex;
    }

    @media (min-width: $desktop-width) {
      display: table;
    }
  }

  &__row {
    @media (min-width: $tablet-width) {
      width: 50%;
    }
  }

  &__cell {
    padding-bottom: 40px;
    min-width: 68px;
    vertical-align: top;
    font-family: $font-stack;
    font-style: 15px;
    line-height: 30px;
    color: $dark-grey-color;

    @media (min-width: $tablet-width) {
      padding-bottom: 0;
      font-size: 17px;
    }
  }

  &__email {
    text-decoration: none;
    padding-bottom: 4px;
    color: $dark-grey-color;
    border-bottom: 1px solid $primary-color;
  }

  &__map {
    margin-bottom: 40px;
    background-color: $grey-color;

    @media (min-width: $tablet-width) {
      margin-bottom: 55px;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      right: 100px;
      width: 525px;
      top: 71px;
    }
  }

  &__map-image {
    display: block;
    margin: 0 auto;
  }

  &__button {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      margin-bottom: 55px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      margin-left: 175px;
      width: 230px;
    }
  }
}
