.featured {
  &__wrapper {
    // outline: 1px dashed lime;
    width: 320px;
    margin: 0 auto;
    padding: 0 30px;
    padding-top: 30px;
    padding-bottom: 42px;
    background: url("../img/bg-zigzag-line.svg") bottom,
      url("../img/bg-zigzag-fill.svg") top;
    background-repeat: repeat-x;
    background-size: 325px;

    @media (min-width: $tablet-width) {

      width: $tablet-width;
      margin-top: -10px;
      padding: 0 50px;
      padding-bottom: 68px;
      padding-top: 62px;
      background-size: 775px;
    }

    @media (min-width: $desktop-width) {
      width: $desktop-width;
      margin-top: -15px;
      padding: 0 100px;
      padding-top: 127px;
      padding-bottom: 95px;
      background-size: 1050px;
    }
  }
}
