.goods {
  @media (min-width: $tablet-width) {
    background: url("../img/bg-zigzag-fill.svg") no-repeat top center;
    background-size: 768px 22px;
  }

  @media (min-width: $desktop-width) {
    background-size: 1150px;
  }


  &__wrapper {
    // outline: 1px dashed blue;
    width: 320px;
    margin: 0 auto;
    padding: 30px;
    padding-bottom: 0;

    @media (min-width: $tablet-width) {
      width: $tablet-width;
      padding: 0 50px;
      padding-top: 87px;
      margin: 0 auto;
      margin-top: -15px;
    }

    @media (min-width: $desktop-width) {
      width: $desktop-width;
      padding: 0 100px;
      padding-top: 145px;

      margin: 0 auto;
      margin-top: -15px;
      margin-bottom: 28px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__item {
    border: 1px solid #ededed;
    margin-bottom: 30px;
  }
}
