.goods {
  &__wrapper {
    // outline: 1px dashed blue;
    width: 320px;
    margin: 0 auto;
    padding: 30px;

    @media (min-width: $tablet-width) {
      width: $tablet-width;
      padding: 0 50px;
      padding-top: 70px;
      margin: 0 auto;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    border: 1px solid #ededed;
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      margin-bottom: 55px;
    }
  }
}
