.goods-category-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {

    display: flex;
    width: $tablet-width;
    margin: 0 auto;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 100px;
  }

  &__item:nth-child(odd) {
    background-color: $primary-color;
  }

  &__item:nth-child(even) {
    background-color: $dark-primary-color;
  }

  &__item {
    @media (min-width: $tablet-width) {
      width: 50%;


    }
  }

  &__link {
    font-family: $font-stack;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 320px;
    margin: 0 auto;
    padding: 28px 0;
    padding-right: 170px;
    padding-left: 30px;

    &--interior {
      background: url("../img/icon-interior.svg") no-repeat 250px center;

      @media (min-width: $desktop-width) {
        background-position: 450px center;
      }
    }

    &--toys {
      background: url("../img/icon-toy.svg") no-repeat 235px center;

      @media (min-width: $desktop-width) {
        background-position: 430px center;
      }
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
      padding-top: 28px;
      padding-bottom: 32px;
      padding-left: 30px;

    }

    @media (min-width: $desktop-width) {
      width: auto;
      padding-right: 370px;
      padding-left: 35px;
    }
  }

  &__item:hover {
    height: 125px;
    margin-top: -5px;
  }
}
