.item-card {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }

  &__picture {
    @media (min-width: $tablet-width) {
      height: 334px;
      width: 334px;
    }

    @media (min-width: $desktop-width) {
      width: 316px;
      height: 462px;
    }
  }

  &__info {
    padding: 27px;
    padding-top: 25px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      width: 334px;
    }

    @media (min-width: $desktop-width) {
      width: 316px;
      padding-bottom: 0;
      min-height: 195px;

      &:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
      }

      &:active {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__title {
    margin: 0;

    @media (min-width: $desktop-width) {
      margin-top: 3px;
      margin-bottom: 5px;
    }
  }

  &__link {
    margin: 0;
    margin-bottom: 5px;
    font-family: $font-stack;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      margin-bottom: 5px;
    }

    @media (min-width: $desktop-width) {
      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }

      &:active {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 18px;
    font-family: $font-stack;
    font-size: 13px;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      font-size: 15px;
      margin-bottom: auto;
    }

  }

  &__purchase {
    padding-top: 22px;
    padding-bottom: 22px;
    border-top: 1px solid $grey-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $desktop-width) {
      padding-bottom: 25px;
    }
  }

  &__price {
    margin: 0;
    font-family: $font-stack;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;

    @media (min-width: $tablet-width) {
      font-size: 17px;
    }
  }

  &__to-basket {
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/icon-cart.svg") no-repeat center;

    @media (min-width: $desktop-width) {
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
}
