.item-card {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }

  &__picture {
    @media (min-width: $tablet-width) {
      height: 334px;
      width: 334px;
    }

    @media (min-width: $desktop-width) {
      width: 316px;
      height: 462px;
    }
  }

  &__info {
    padding: 30px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      width: 334px;
    }

    @media (min-width: $desktop-width) {
      width: 316px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    font-family: $font-stack;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      margin-bottom: 12px;
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 25px;
    font-family: $font-stack;
    font-size: 13px;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      font-size: 15px;
      margin-bottom: auto;
    }
  }

  &__purchase {
    padding-top: 25px;
    border-top: 1px solid $grey-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    margin: 0;
    font-family: $font-stack;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;

    @media (min-width: $tablet-width) {
      font-size: 17px;
    }
  }

  &__to-basket {
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/icon-cart.svg") no-repeat center;
  }
}
