.main-nav {
  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__list {
    margin: 0 auto;
    padding: 0;
    list-style: none;


    @media (min-width: $tablet-width) {
      display: flex;
      margin: 0;

      &--catalog {
        order: 2;
        margin-right: auto;
      }

      &--buy {
        order: 1;
      }
    }

    &--new {
      display: none;
    }
  }

  &__item {
    border-bottom: 1px solid $grey-color;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &__link {
    font-family: $font-stack;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    width: 320px;
    display: block;
    margin: 0 auto;
    padding: 30px 0;
    padding-left: 75px;

    @media (min-width: $tablet-width) {
      width: auto;
      margin: 0;
      padding: 24px 0;
      padding-left: 0;
      padding-right: 36px;
      font-size: 15px;
      line-height: 24px;
    }

    &--search {
      background: url("../img/icon-search.svg") no-repeat 30px center;

      @media (min-width: $tablet-width) {
        width: 82px;
        height: 88px;
        background-position: center;
        border-left: 1px solid $grey-color;
        border-right: 1px solid $grey-color;
      }
    }

    &--basket {
      background: url("../img/icon-cart.svg") no-repeat 30px center;

      @media (min-width: $tablet-width) {
        font-size: 17px;
        background-position: 32 center;
        padding: 32px 0;
        padding-left: 84px;
      }
    }
  }


  &__toggle {
    position: absolute;
    top: 30px;
    right: 30px;
    border: 0;
    width: 21px;
    height: 21px;
    background: url("../img/icon-menu-close.svg") no-repeat center;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__search-text {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__logo-link {
    display: block;
    margin: 0 auto;
    padding: 22px 0;
    text-align: center;
    border-bottom: 1px solid $grey-color;

    @media (min-width: $tablet-width) {
      margin: 0;
      margin-right: auto;
      text-align: left;
      border-bottom: none;
    }
  }

  &__info {
    font-family: $font-stack;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    padding: 24px 0;
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      order: 4;
    }
  }
}
