.page-footer {
  background-color: #f0f0f0;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  &__wrapper {
    width: 320px;
    margin: 0 auto;
    padding: 0 30px;

    @media (min-width: $tablet-width) {
      width: $tablet-width;
      padding: 0 50px;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
    }

    @media (min-width: $desktop-width) {
      width: $desktop-width;
      padding: 0 100px;
      margin: 0 auto;
    }
  }

  &__logo-link {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      margin-right: 80px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 80px;
    }
  }

  &__social {
    margin: 0 auto;
    border-bottom: 1px solid $grey-color;
    width: 150px;
    padding: 0;
    padding-bottom: 25px;

    @media (min-width: $tablet-width) {
      padding: 0;
      padding-top: 12px;
      border-bottom: none;
      width: 150px;
      margin-right: auto;
    }
  }

  &__copyright {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }

  &__copyright-text {
    padding-right: 30px;
    font-family: $font-stack;
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  &__copyright-link {
    padding-top: 8px;
  }
}
