$primary-color: #63d1bb;
$dark-primary-color: #56c3b2;
$grey-color: #e5e5e5;
$dark-grey-color: #444444;

$body-text-color: $dark-grey-color;

$font-stack: "OpenSans", "Arial", sans-serif;

$narrow-width: 260px;
$normal-width: 768px;
$wide-width: 1200px;
