.video {
  // outline: 1px dashed pink;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 58px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    position: relative;
    padding: 0 100px;
    margin: 0 auto;
    min-height: 455px;
    justify-content: space-between;
    margin-bottom: 105px;
  }

  &__wrapper {
    border: 1px solid $grey-color;
    order: 1;

    &:first-child {
      border-bottom: none;
    }

    &:last-child {
      border-top: none;
    }

    @media (min-width: $desktop-width) {
      margin-left: 680px;
    }
  }

  &__title {
    margin: 0;
    padding-left: 90px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: $font-stack;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    background: url("../img/icon-video.svg") no-repeat 33px 30px;

    @media (min-width: $tablet-width) {
      margin-top: 455px;
      padding-top: 37px;
      padding-bottom: 32px;
      padding-left: 105px;
      font-size: 20px;
      background-position: 40px 32px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
      padding-top: 95px;
      padding-left: 80px;
      padding-right: 140px;
      padding-bottom: 32px;
      background-position: 80px 40px;
    }
  }

  &__media {
    position: relative;
    outline: 1px solid lime;
    background-color: rgba(0, 240, 0, 0.05);

    @media (min-width: $desktop-width) {
      position: absolute;
      top: 0;
      left: 100;
    }
  }

  &__player {
    position: absolute;
    width: 260px;
    height: 150px;
    display: block;
    margin: 0 auto;
    order: 0;
    background: url("../img/video-desktop@2x.jpg") no-repeat center;
    background-size: cover;

    @media (min-width: $tablet-width) {
      width: 668px;
      height: 455px;
    }

    @media (min-width: $desktop-width) {
      width: 682px;
    }
  }

  &__play {
    display: block;
    position: absolute;
    width: 101px;
    height: 77px;
    top: 35px;
    left: 79px;
    margin: auto;
    border: none;
    background: url(../img/icon-play.svg) no-repeat center;
    z-index: 10;

    @media (min-width: $tablet-width) {
      top: 190px;
      left: 283px;
    }



    &:hover {
      transform: scale(1.2);
    }

  }

  &__info {

    padding: 34px;
    padding-top: 25px;

    @media (min-width: $tablet-width) {

      padding: 42px;
      padding-top: 0;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
      min-height: 275px;
      display: flex;
      flex-direction: column;
      padding-left: 80px;
      padding-bottom: 56px;

      &:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 25px;
    font-family: $font-stack;
    font-size: 13px;
    line-height: 24px;
    color: $dark-grey-color;

    @media (min-width: $tablet-width) {
      font-size: 15px;
      line-height: 30px;
      margin-bottom: 35px;
    }

    @media (min-width: $desktop-width) {

      margin-bottom: auto;
    }
  }

  &__button {
    @media (min-width: $desktop-width) {
      width: 230px;
    }
  }
}
